body {
    background: url("images/BnS_wallpaper2.0674f4eac151.jpg");
    background-size: cover;
    color: #000000;
    text-align: center;
}


.navbar {
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 36px;
